nav  {
    background-color:palevioletred; padding: 15px
}
ul {
    display: flex ; list-style-type: none    
}
.bc1 {
    margin-right: 35px;
}
.bc2 {
    margin-left: 80px;
    margin-right: 35px;
}
.bc3 {
    margin-right: 35px;
}
.bc4 {
    margin-right: 35px;
}
.bc5 {
    margin-left: auto;
    margin-right: 10px;
}
.bc6 {
    margin-right: 0;
}
.tb1 {
    width: 100;
}
.tb2 {
    border-collapse: collapse;
}
th {
    width: 150px ;border-top: 1px solid ; border-bottom: 1px solid;text-align: left;
}
.td1 {
    text-align: left ; padding : 20px
}
.td2 {
    margin-top: auto; 
    text-align: left ; 
    padding : 20px
}
.fa-cc-visa {
    font-size:20px;
}
.td3 {
    text-align: center;
}
.td4 {
    border-bottom: 1px solid;
}
.bill {
    margin-top: 1px;
}
.shipping1 {
    margin-bottom: 1px;
}
.pay {
    margin-bottom: 1px;
}
.tb2 {
    border-collapse: collapse;
}
.th1 {
    text-align: justify; border-top: 1px solid; border-left: 1px solid;
    background-color: grey;
}
.th2 {
    text-align: justify; border-top: 1px solid; border-right: 1px solid; 
    background-color: grey;
}
.td5 {
    text-align: left;border-left: 1px solid; 
    background-color: grey;
}
.i1 {
    width: 170px;
}
.td6 {
    text-align: right;border-right: 1px solid;
    background-color: grey;
}
.app {
    width: 75px; color: white; 
    background-color: blue;
}
.td7 {
    text-align: left; border-left: 1px solid;border-bottom: 1px solid ; 
    background-color: grey;
}
.td8 {
    text-align: left; border-right: 1px solid ;border-bottom: 1px solid ; background-color: grey;
}
.ul1 {
    display: flex ; list-style: none;
}
.li2 {
    margin-right: 35px;
}
.li3 {
    margin-left: 80px ;
    margin-right: 35px;
}
.li4 {
    margin-right: 35px;
}
.li5 {
    margin-right: 35px;
}
.li6 {
    margin-left: auto; margin-right: 10px;
}
.email {
    color: white; background-color: red;
}
footer {
    background-color: darkgrey;padding: 3px
}